/* CODING UTF-8 */

body {
    color: #eeeeee;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323039/black-wood-small.jpg);
}

.title-index {
    text-align: center;
}

.cont-items {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}

.product {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

div.product > img {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
}

.product {
    justify-content: center;
    margin: auto;
    text-align: center;
}

/* Élément | http://127.0.0.1:8000/ */

.btn-product {
    display: flex;
    justify-content: space-around;
}

img {
    width: 350px;
}

/* Élément | http://127.0.0.1:8000/ */

.lightgrey {
  display: flex;
  justify-content: center;
  margin: auto;
}


/* ============== fin index ================= */


/* ============== test ================= */

/* style.css | http://127.0.0.1:8000/static/style.css */

.product {
  /* margin: auto; */
  margin: 0 auto;
  align-items: center;
  align-items: center;
}

div.product > img {
  height: 300px;
  align-items: center;
}

.btn-product {
  margin: auto;
}

p {
  align-items: center;
  display: flex;
}


/* style.css | http://127.0.0.1:8000/static/style.css */

.cont-items {
  /* margin: auto; */
  margin: 40px auto;
}

.product {
  /* margin: 0 auto; */
  margin: 30px auto;
}


/* ============== fin test ================= */

