{% extends 'base.html' %}

{% block content %}
<div class="container-detail">
    <h2 class="text-center">{{ product.name }}</h2>
    <div>
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:30%">
        <p>{{ product.description }}</p>
        <p>{{ product.price}} €</p>
    </div>
    <!-- bouton + lien add-to-cart -->
    {% if user.is_authenticated %}
    <div class="col">
        <p>
            <a class="btn btn-success" href="{% url 'add-to-cart' product.slug %}">Ajouter panier</a>
        </p>
        <p>{{ product.stock }} en stock</p>
        <p>{{ product.category.name }}</p>
    </div>
    {% endif %}
    <!-- proposition d'autres produit de la meme categorie -->
    <div class="row">
        <h3>Autres produits de la même catégorie</h3>
        {% for product in products %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:100%">
                <p>{{ product.name }}</p>
                <p>{{ product.price }} €</p>
                <p>{{ product.stock }} en stock</p>
                <p>{{ product.category.name }}</p>
                <p>
                    <a class="btn btn-success" href="{% url 'add-to-cart' product.slug %}">Ajouter panier</a>
                </p>
            </div>
        </div>
        {% endfor %}
    
</div>
{% endblock %}