{% extends 'base.html' %}

{% block content %}

<h1 class="title-index"> Nos produits </h1>

<div class="cont-items">

    {% for product in products %}
    <div class="product">
        <h4 class="title-product-index">{{ product.name }}</h4>

        <!-- image associer au produit -->
        {% load static %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">

        <!-- description du produit -->
        <p class="description-product-index">{{ product.description }}.</p>

        <div class="price-product-index">
            <p class="lead">{{ product.price }}</p>
        </div>

        <div class="btn-product">
            <a class="btn btn-warning" href="{{ product.get_absolute_url }}">Détails du produit</a>

            <!-- Ajouter au panier -->
            {% if user.is_authenticated %}
                <a class="btn btn-success" href="{{ product.get_absolute_url }}">Ajouter au panier</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>






{% endblock %}