/* CODING UTF-8 */

#container {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px auto;
    align-items: center;
    display: flex;
}

.container-panier {
    display: flex;
    flex-direction: column;
}

.list-group {
    display: flex;
    width: 45%;
    margin: auto;
    align-items: center;
    border: solid 1px black;
    height: 700px;

}

.product_box {
    width: 100%;
}

#products {
    margin: 50px auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-detail {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: auto;
}

footer {
    text-align: center;
    background-color: lightgrey;
    height: auto;
    padding: 10px;
    justify-content: center;
    margin: auto;
}

.img-fluid {
  max-width: 20%;
}

/*

#container {
  display: flex;
  width: 90%;
}

.d-flex {
  width: 45%;
  justify-content: center;
  margin: auto;
}

div.d-flex:nth-child(1) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}


div.d-flex:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

div.d-flex.container-detail.p {
  text-align: center;
  margin: 20px auto;
}
*/