/* CODING UTF-8 */
header {
 background: black;
 color: #fff;
}

.box-principal {
  background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%);
}

.cont-items {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}

.product {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

div.product > img {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
}

.product {
    justify-content: center;
    margin: auto;
    text-align: center;
}

/* Élément | http://127.0.0.1:8000/ */

.btn-product {
    display: flex;
    justify-content: space-around;
}

img {
    width: 350px;
}

footer {
    justify-content: center;
    display: flex;
    background: black;
    color: #fff;
    margin: 0;
    height: 50px;
}


/* Élément | http://127.0.0.1:8000/ */

.lightgrey {
  display: flex;
  justify-content: center;
  margin: auto;
}


/* ============== fin index ================= */


/* ============== test ================= */

/* ============== fin test ================= */

